{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h3 class="logo-font mb-4 text-center">Shopping Bag</h3>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <!-- Update quantity form -->
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button type="button" class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span><i class="fas fa-minus fa-sm"></i></span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="0" max="10"
                                                        data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}"
                                                        onchange="this.form.submit();">
                                                    <div class="input-group-append">
                                                        <button type="button" class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span><i class="fas fa-plus fa-sm"></i></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-link update-link text-info"><small>Update</small></button>
                                        </form>
                                        
                                        <!-- Remove item link -->
                                        <form method="POST" action="{% url 'remove_from_bag' item.item_id %}" style="display: inline;">
                                            {% csrf_token %}
                                            <button id="remove_{{ item.item_id }}" class="remove-item btn btn-link text-danger"><small>Remove</small></button>
                                        </form>                                        
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <!-- Summary row -->
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                        <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                            <span class="text-uppercase">Secure Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // CSRF token setup for AJAX requests
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    // Set up AJAX to include the CSRF token in the request header
    $.ajaxSetup({
        headers: { 'X-CSRFToken': csrftoken }
    });

    // Remove item and reload on click
    $(document).ready(function () {
    $('.remove-item').click(function (e) {
        e.preventDefault(); // Prevent form submission

        var idAttr = $(this).attr('id'); // Get the id attribute
        if (!idAttr || !idAttr.includes('remove_')) {
            console.error('Invalid ID format for the clicked remove button:', idAttr);
            return; // Exit the function if the id is invalid
        }

        var itemId = idAttr.split('remove_')[1]; // Extract the item ID
        var url = `/bag/remove/${itemId}/`; // Endpoint for removing the item

        console.log('Removing item with ID:', itemId);

        // AJAX request to remove the item
        $.post(url)
            .done(function () {
                location.reload(); // Reload the page on success
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                console.error('Error removing item:', errorThrown);
            });
    });
});
</script>

{% endblock %}
