.header-container {
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

.card-header {
    background-color: #a075c9;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: none;
}

.table {
    font-size: 0.9rem;
}

.table th,
.table td {
    vertical-align: middle;
}

a.text-primary {
    font-weight: bold;
}

.wider-column {
    width: 25%; /* Adjust the percentage to your desired width */
}


